@import url('https://fonts.googleapis.com/css?family=Caveat|Rubik|Abel|Lato');

body {
  background: url('https://www.palaceresorts.com/sites/default/files/slide_allinclusive_0.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* div {
  border:1px solid black;
} */

h1 {
  font-family: 'Caveat', cursive;
  font-size: 54px;
  text-align: center;
}
.budget-container {
  width: 300px;
  height: 200px;
}

/*********************/
/*     MY TRIPS      */
/*********************/
table {
  display: table;
  border-collapse: seperate;
  border-spacing: 2px;
  border-color: gray;
}
/****************************/
/*        SLIDESHOW         */
/****************************/
.slideshow {
  width: 400px;
  height: 200px;
  text-align: center;
}
/****************************/
/*     CONTACT US FORM      */
/****************************/
/* Style inputs with type="text", select elements and textareas */
.contact-container input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px; /* rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* add a top margin */
  margin-botom: 16px;
  resize: vertical; /* Allow user to vertically resize the text area, not horizontally */
}

/* ======== SLIDESHOW SECTION ========== */
/* .slideshow-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
} */
/* Style the submit button with a sepcific background color etc... */
/* input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

} */

/* When moving the mouse over the submit button, change color to green */
input[type=submit]:hover {
  background-color: green;
}

/* Add a backgound color and some padding around the form */
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*********************/
/*  SIGN IN/UP PAGE  */
/*********************/
.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;
  width: 400px;
  background: rgba(255,255,255,0.9);
  font-family: 'Rubik', sans-serif;
}
.sign-up-container h2:first-child {
  margin-top: 0;
}
.sign-up-container span {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.sign-up-container h2 {
  color: #373A36;
}
/* .sign-up-container form {
  border-radius: 1em;
} */
.sign-up-container input {
  height: 40px;
  border-radius: 1.25em;
  border: 2px solid #D48166;
}
.sign-up-container input[type=submit] {
  height: 40px;
  width: 100px;
  background: #D48166;
  color: #E6E2DD;
}
.sign-up-container input[type=submit]:hover {
  background: teal;
  color: white;
  border: 2px solid teal;
}

/***********/
/*  TITLE  */
/***********/
.title-container {
  background: #D48166;
}
.title-container h1 {
  margin: 0 auto;
  width: 200px;
  color: #E6E2DD;
}
nav {
  background: #373A36;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: swing-in-top-fwd 1.0s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  font-family: 'Abel', sans-serif;
}
nav a, button {
  background: #373a36;
  font-size: 1em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  color: #e6e2dd;
  transition: 0.5s;
}
nav
a:hover,
button:hover {
  background: #d48166;
  transition: 0.5s;
}
/*************/
/*  HOMEPAGE */
/*************/
.home-page-container {
  margin: 0 auto;
  width: 700px;
  height: 1000px;
  background: #373A36;
  color: #E6E2DD;
  font-family: 'Abel', sans-serif;
}
.planning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}
.budget-container {
  text-align: center;
  background-color: #e6e2dd;
  height: 100px;
  width: auto;
  padding: 5px;
  margin: 0 auto;
  border-radius: 1em;
  color: #d48166;
}
.search-destination {
  margin-top: 20px;
  border: 1px solid white;
}
.search-destination select {
  appearance: none;
  width: 100px;
  background: #373a36;
  border: none;
  border-bottom: 1px solid white;
}
hr {
  color:#e6e2dd;
  width: 600px;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-12 16:22:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
