@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
  background: url('https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1473704712/z_Wyndham-Garden-at-Palmas-del-Mar.jpg?itok=MgKgRKy3') no-repeat center center fixed;
  background-size: cover;

}

div {
  border:1px solid black;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 54px;
  text-align: center;
}
.budget-container {
  width: 300px;
  height: 200px;
}

/*********************/
/*     MY TRIPS      */
/*********************/
table {
  display: table;
  border-collapse: seperate;
  border-spacing: 2px;
  border-color: gray;
}
/****************************/
/*        SLIDESHOW         */
/****************************/
.slideshow {
  width: 300px;
  height: 300px;
}
/****************************/
/*     CONTACT US FORM      */
/****************************/
/* Style inputs with type="text", select elements and textareas */
.contact-continer input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px; /* rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* add a top margin */
  margin-botom: 16px;
  resize: vertical; /* Allow user to vertically resize the text area, not horizontally */
}

/* ======== SLIDESHOW SECTION ========== */
.slideshow-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
/* Style the submit button with a sepcific background color etc... */
input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* When moving the mouse over the submit button, change color to green */
input[type=submit]:hover {
  background-color: green;
}

/* Add a backgound color and some padding around the form */
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*********************/
/*  SIGN IN/UP PAGE  */
/*********************/
/* .controller-container {
  display: flex;
  justify-content: center;
  border: none;
} */
.sign-up-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 100px;
  width: 400px;
  background: rgba(0,0,0,0.9);
}
.sign-up-container h2:first-child {
  margin-top: 0;
}
.sign-up-container span {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.sign-up-container input {
  height: 20px;
  border-radius: 1em;
  border: 2px solid white;
}
.sign-up-container input[type=submit] {

}
.sign-up-container input[type=submit]:hover {
  background: teal;
  color: white;

}

.home-page-container {
  width: 700px;
  height: 700px;
}

} */

