@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
  background: url('https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1473704712/z_Wyndham-Garden-at-Palmas-del-Mar.jpg?itok=MgKgRKy3') no-repeat center center fixed;
  background-size: cover;

}

div {
  border:1px solid black;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 54px;
  text-align: center;
}

.budget-container {
  width: 300px;
  height: 200px;
}



/* ======== SLIDESHOW SECTION ========== */
.slideshow-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.slideshow-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.slideshow-images img:first-of-type {
  display: block;
}

/*********************/
/*  SIGN IN/UP PAGE  */
/*********************/
/* .controller-container {
  display: flex;
  justify-content: center;
  border: none;
} */
.sign-up-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 100px;
  width: 400px;
  background: rgba(0,0,0,0.9);
}
.sign-up-container h2:first-child {
  margin-top: 0;
}
.sign-up-container span {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.sign-up-container input {
  height: 20px;
  border-radius: 1em;
  border: 2px solid white;
}
.sign-up-container input[type=submit] {

}
.sign-up-container input[type=submit]:hover {
  background: teal;
  color: white;
}

.home-page-container {
  width: 700px;
  height: 700px;
}
