<div class="title-other-pages">
  <h1>About</h1>
</div>
<div class="about-page">
  <h2>TRAVELERITIS MISSION</h2>
  <p>At TRAVELERITIS, our emphasis is on flexibility and personalisation across a range of authentic experiences around the world. Designing each holiday around a client’s needs and preferences, the result is an individually-created itinerary which is big on imagination and catered around each individual's interests.</p>
  <hr>

  <h2>MEET THE TEAM</h2>
  <div class="">
    <h3>Alpha Branch</h3><br>
    <img src="/images/bitmoji/alpha.jpg" alt="Bitmoji of Alpha Branch">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <hr>
    <h3>Omega Branch</h3><br>
    <img src="/images/bitmoji/omega.jpg" alt="Bitmoji of Alpha Branch">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <hr>
    <h3>Theta Branch</h3><br>
    <img src="/images/bitmoji/theta.jpg" alt="Bitmoji of Alpha Branch">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <hr>
  <!-- <img src="/images/website/about.jpg" alt=""> -->
</div>
